.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 90vh;
    margin-bottom: 100px;
}

.products h2 {
    color: #171717;
    font-size: 35px;
    font-weight: 400;
}

.products hr {
    width: 150px;
    height: 5px;
    border-radius: 10px;
    background: #252525;
}

.products-item {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}