.card {
    border: 2px solid rgba(62, 57, 73, 0.966);
    border-radius: 8px;
    padding: 12px;
    background: white;
    width: 100%;
    max-width: 13rem;
    min-width: 13rem;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.product-image {
    max-width: 6.5rem;
    transition: transform 0.2s ease;
}

.image-wrapper:hover .product-image {
    transform: scale(1.05);
}

.details {
    color: rgba(107, 114, 128, 0.6);
    font-size: 0.875rem;
}

.category {
    margin: 0;
}

.name {
    color: #374151;
    font-weight: 500;
    /* font-size: 1.110rem; */
    font-size: medium;
    margin: 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 12px;
}

.price {
    color: #374151;
    font-size: 1.25rem;
    font-weight: 500;
}

.old-price {
    color: rgba(107, 114, 128, 0.6);
    font-size: 0.75rem;
    text-decoration: line-through;
    margin-left: 4px;
}

.cart {
    color: #08090a;
}

.add-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    background: #e0e7ff;
    border: 1px solid #c7d2fe;
    width: 80px;
    height: 34px;
    border-radius: 6px;
    color: #374151;
    font-weight: 500;
    cursor: pointer;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 80px;
    height: 34px;
    background: rgba(99, 102, 241, 0.25);
    border-radius: 6px;
    user-select: none;
}

.counter button {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 4px 8px;
    cursor: pointer;
}

.counter span {
    width: 20px;
    text-align: center;
}
